<% include ./partials/header %>
<div class="ui main text container segment clearfix">
  <div class="ui top attached">
    <div class="item">
        <img class="sprites" src="/img/sprites/<%=pokemon.number%>.png">
        <div class="ui huge header"><%= pokemon.name %>, #<%=pokemon.number%></div>
        <p><span class="show-category">Caught: </span><%=pokemon.created.toDateString() %></p>
        <p><span class="show-category">Type(s): </span><%= pokemon.types.join(', ') %></p>
        <p><span class="show-category">Stats: </span>
          <br>
          <span class="stats">Speed: <%= pokemon.stats[0] %></span>
          <span class="stats">Special Defense: <%= pokemon.stats[1] %></span>
          <span class="stats">Special Attack: <%= pokemon.stats[2] %></span>
          <span class="stats">Defense: <%= pokemon.stats[3] %></span>
          <span class="stats"> Attack: <%= pokemon.stats[4] %></span>
          <span class="stats"> Hit Points (HP): <%= pokemon.stats[0] %></span>
        </p>
        <br>
        <br>
        <p><span class="show-category">Comments: </span><%= pokemon.comments %></p>
      <div class="button-div">
        <% if(pokemon.evolve === 'no') { %>
          <a class="ui disabled green button show-buttons" style="color: #000;" disabled>Does Not Evolve</a>
        <% } else { %>
          <form class="inline" action="/collection/<%= pokemon._id %>/evolve?_method=PUT" method="POST">
            <input name="pokemon[name]" value="<%= pokemon.evolve %>" hidden>
            <input name="pokemon[comments]" value="<%= pokemon.comments %>" hidden>
            <button class="ui green button show-buttons">Evolve to <%= pokemon.evolve %></button>
          </form>
        <% } %>
        <a class="ui orange button show-buttons" href="/collection/<%= pokemon._id %>/edit">Edit</a>
        <form id="delete" action="/collection/<%=pokemon._id%>?_method=DELETE" method="POST">
          <button class="ui red button show-buttons">Delete</button>
        </form>
        <a class="ui blue button show-buttons" href="/collection">Back</a>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>